.footer-container {
    color: white;
    margin: 5% 5% 0 5%;
    padding: 3% 0 3% 0;
    background: black;
    position: relative;
    display: flex;
}

.footer-left {
    width: 50%;
}
.footer-mid {
    width: 35%;
}
.footer-right {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    padding-right: 5%;
}