.header-container {
    display: flex;
    padding: 1.5% 0 1.5% 0;
}

.logo-container {
    font-size: 1.4rem;
    font-weight: 900;
    width: 40%;
}
.logo {
    color: rgb(55, 158, 110);
    margin-left: 15%;
}



.header-list-container {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.header-list-item {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.4rem;
    align-items: center;
}
li i {
    font-size: 1rem;
}
li a, li i {
    margin: 1%;
    color: white;
}

li i {
    margin-right: 5%;
}

.header-list-item {
    background-image:
    linear-gradient(
    transparent 0%,
    transparent 90%,
    rgb(55, 158, 110) 90%,
    rgb(55, 158, 110) 100%
    );
    background-repeat:no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}    
.header-list-item:hover {

    background-size: 100% 100%;
    background-position-x: left;
}    
.menu-container {
    display: none;
}
.button-container {
    display: none;
}
.dropdown-list-container {
    display: none;
}

@media (max-width: 768px) {
    .header-list-container {
        display: none;
    }
    .button-container {
        display: flex;
        background: none;
        border: none;
        font-size: 1.4rem;
        margin-left: 95%;
    }
    .menu-container {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        width: 60%;
        justify-content: flex-end;
        padding-right: 5%;
    }
    .button-container:hover {
        cursor: pointer;
    }
    .show-dropdown {
        display: flex;
        flex-direction: column;
        margin-left: 70%;
        margin-top: 5%;
    }
    .dropdown-list-item {
        display: flex;
        justify-content: flex-end;
        margin-top: 5%;
        width: auto;
    }
    .dropdown-list-item {
        background-image:
        linear-gradient(
        transparent 0%,
        transparent 90%,
        rgb(55, 158, 110) 90%,
        rgb(55, 158, 110) 100%
        );
        background-repeat:no-repeat;
        background-size: 0% 100%;
        background-position-x: right;
        transition: background-size 300ms;
    }    
    .dropdown-list-item:hover {
    
        background-size: 100% 100%;
        background-position-x: left;
    }    
}