.home-container {
    color: white;
    margin-left: 10%;
    margin-top: 20%;
    z-index: 10;
}
.home-top {
    display: flex;
}
.headshot {
    justify-content: center;
}
.headshot img {
    aspect-ratio: 1/1;
    max-width: 300px;
    border-radius: 50%;
}
.home-intro-container {
    width: 50%;
}
.text {
    font-weight: 100;
    font-size: 2.4rem;
    line-height: 4rem;
}
.colorful {
    color: rgb(55, 158, 110);
}

.brief-intro-container {
    margin-top: 30%;
}
.brief-intro-title {
    margin-left: 7%;
    margin-bottom: 3%;
}

.intro-para {
    font-size: 1.05rem;
    line-height: 1.5rem;
    margin-right: 10%;
}

@media (max-width: 768px) {
    .home-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home-intro-container {
        width: 80%;
        margin: 10%;
    }
}