.home-container {
    color: white;
    margin-left: 10%;
    margin-top: 20%;
}
.text {
    font-weight: 100;
    font-size: 2.4rem;
    line-height: 4rem;
}
.colorful {
    color: #c362e1
}

.brief-intro-container {
    margin-top: 50%;
}